.wrapper {
    width: 600%;
    margin: 10px auto;
    color: $grey;
    text-align: center;
}

h1, h2, h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.8em;
    font-weight: 120;
    text-transform: uppercase;
}

#seconds, #tens{
    font-size: 3em;
}

button {
    @include corners (5px); 
    background: $base-color;
    color: $grey; 
    border: solid 2px $grey; 
    text-decoration: none;
    cursor: pointer; 
    font-size: 1.4em;
    padding: 20px 12px;
    width: 200px;
    margin: 12px; 
    outline:none; 
    &:hover{
        @include transition; 
        background: yellowgreen;
        border: solid 2px $grey; 
        color: $base-color; 
    }
}